body {
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    margin-left: 200px;
    gap: 100px;
} 

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

a {
    text-decoration: none;
}

.card {
    display: flex;
}

.card-text {
    max-width: 400px;
}