body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 200px;
    margin-left: 200px;
    gap: 100px;

} 

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.header ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

a {
    text-decoration: none;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-text {
    max-width: 400px;
}

img {
    height: 200px;
}

.section-two {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.image-with-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images-with-desc {
    display: flex;
    gap: 20px;
}

.section-one {
    width: 660px;
}

.center-text-big {
    font-size: large;
    margin-bottom: 10px;
}