* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;

} 

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;  
    width: 700px;
}

.header ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
}

.card-text {
    max-width: 400px;
}

img {
    height: 200px;
}

.section-two {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.image-with-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images-with-desc {
    display: flex;
    gap: 20px;
}

.section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #1F2937 ;
    padding-bottom: 50px;
    padding-top: 20px;
}

.center-text-big {
    font-size: large;
    margin-bottom: 10px;
}